OPENELO_APP_NAME=OpenELO
OPENELO_SECRET_KEY=change-me
OPENELO_DATABASE_URL=sqlite:///./data/openeelo.db
OPENELO_DEFAULT_ADMIN_EMAIL=admin@example.com
OPENELO_DEFAULT_ADMIN_PASSWORD=admin123
OPENELO_DEFAULT_ADMIN_USERNAME=admin
OPENELO_HOST=0.0.0.0
OPENELO_PORT=8000

